# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
ENV/
*.venv

# Django
*.log
*.pot
*.pyc
db.sqlite3
avatars/

# Environment variables
.env
core/.env

# VS Code
.vscode/

# Migrations (optional)
# */migrations/
