# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
ENV/
*.venv

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3

# Environment variables
.env
core/.env

# VS Code
.vscode/

# Migrations (optional – usually you keep these)
# */migrations/
